---
import "./NeonFakeVisitors.css";
import type { BlockData, Item } from '../../../../../lib/api/types';
import { FunnelNeonComponents } from "../../../../../lib/constants/themes";

const data: BlockData = Astro.props.data;
const visitors: Item[] = data.items ?? [];
---

<neon-visitors-animation 
  class="w-full flex justify-start items-start"
  data-neon-visitors={JSON.stringify(visitors)}
  data-neon-display-time="3000"
  data-neon-flash-duration="800"
>
  <section id={FunnelNeonComponents.NeonVisitors}>
    <div class="neon-visitors-section flex justify-start items-center gap-4">
      <!-- Single visitor display area -->
      <div class="neon-visitor-display">
        <div class="neon-visitor-image w-8 h-8 rounded-full opacity-0">
          <img class="w-full rounded-full" src="" alt="Visitor" id="neon-visitor-img"/>
        </div>
        <p class="neon-visitor-description opacity-0" id="neon-visitor-desc"></p>
      </div>
    </div>
  </section>
</neon-visitors-animation>


<script>
  import "./NeonFakeVisitors";
</script>