---
import type { BlockData, Product } from "../../../../../lib/api/types";

const data: BlockData[] = Astro.props.data;
const product : Product = Astro.props.product;

import { FunnelZenComponents } from "../../../../../lib/constants/themes";
import ZenProductCosts from "../UI/ZenProductCosts/zenProductCosts.astro";
import ZenBundleOptions from "../UI/ZenBundleOptions/ZenBundleOptions.astro";

---

<div id={FunnelZenComponents.ZenProductFunnel} class="w-full flex flex-col gap-2">
  <ZenBundleOptions data={data} product={product} />
  <ZenProductCosts hasBundles="true" />
</div>