.classic-form-submit {
    width: 100%;
    background-color: var(--classic-color-primary);
    color: var(--classic-color-on-primary);
    padding: 0.5rem;
    border-radius: var(--classic-section-radius);
}