---
import "./ClassicSubmitOrderButton.css";
import ClassicModalPurchaseInfo from "../../ClassicModalPurchaseInfo/ClassicModalPurchaseInfo.astro";
---

<div>
  <button
    type="button"
    id="SubmitOrderButton"
    class="classic-form-submit"
    data-translate="form.submit"
  >
  </button>
</div>

<!-- Include the modal component -->
<ClassicModalPurchaseInfo />

<script>
  import "./ClassicSubmitOrderButton";
</script>
