---
import type { BlockData } from "../../../../Interfaces/Products";

interface Props {
  data?: BlockData;
}

const { data } = Astro.props;
console.log("Today Orders : ",data);
---

<div>Classic Theme Today Orders</div>