---
import type { BlockData } from "../../../../Interfaces/Products";

interface Props {
  data?: BlockData;
}

const { data } = Astro.props;
console.log(" Footer : ",data);
---

<div>Classic Theme Footer</div>