---
import type { BlockData } from "../../../../Interfaces/Products";

interface Props {
  data?: BlockData;
}

const { data } = Astro.props;
console.log("Form Fields : ",data);
---

<div>Classic Theme Form Fields</div>