---
import { date } from "astro:schema";
import type { BlockData } from "../../../../Interfaces/Products";

interface Props {
  data?: BlockData;
}

const data = (Astro.props as { data: BlockData }).data;
---

<!-- Header -->
<header class="bg-gray-900 text-white py-8 border-b-4 border-gold">
  <div class="container mx-auto px-4 text-center">
    <div class="flex justify-center items-center mb-4">
      <div
        class="w-16 h-16 bg-gold rounded-full flex items-center justify-center ml-4 border-2 border-white"
      >
        <!-- <img
          src={data?.logo}
          alt={data.title}
          class="w-full h-full object-cover"
        /> -->
      </div>
      <h1 class="text-4xl md:text-5xl font-bold text-gold">
        {data?.title}
      </h1>
    </div>
    <p class="text-xl text-gray-300 font-serif">
      {data?.subtitle}
    </p>
  </div>
</header>
