.nasa-theme-today-order-count {
  background-color: var(--nasa-color-primary-light);
  color: var(--nasa-color-on-primary);
  box-shadow: var(--nasa-section-shadow);
  border-radius: var(--nasa-section-radius);
}