---
// Enhanced ProBuyNowButton component with advanced animations
// Optional props for button variations
import { FunnelProComponents } from "../../../../../../lib/constants/themes";
import LucideIcon from "../../../../../Shared/LucideIcon.astro";
import "./ProBuyNowButton.css";
---

<div>
  <a
    class="pro-buy-now-button"
    href="#pro-product-details"
  >
    <div class="pro-buy-now-icon-wrapper">
      <div class="pro-buy-now-icon-container">
         <LucideIcon name="ShoppingCart" width="32" height="32" class="pro-buy-now-button-icon" />

      </div>
    </div>
    <span class="pro-buy-now-text" data-translate="CTA.button">Buy Now</span>
  </a>
</div>