---
import "./TroyThemeTextBar.css";
import type { BlockData } from "../../../../../lib/api/types";
import { FunnelTroyComponents } from "../../../../../lib/constants/themes";

const data: BlockData = Astro.props.data;
---
<section id={FunnelTroyComponents.TroyTextBar} class="troy-section">
    <h5 class="troy-text-bar-title">{data.title}</h5>
</section>