---
// Enhanced troyBuyNowButton component with proper theming
// Optional props for button variations
import { FunneltroyComponents } from "../../../../../../lib/constants/themes";
import "./troyBuyNowButton.css";
---

<div>
    <a
        class="troy-buy-now-button"
        href=`#${FunneltroyComponents.troyProductFunnel}`
    >
        <i class="fa-solid fa-cart-shopping troy-buy-now-button-icon"></i>
        <span data-translate="CTA.button"></span>
    </a>
</div>
