---
// Enhanced TroyBuyNowButton component with proper theming
// Optional props for button variations
import "./TroyBuyNowButton.css";
---

<div>
    <a
        class="troy-buy-now-button"
        href="#troy-quantity-selection"
    >
        <i class="fa-solid fa-cart-shopping troy-buy-now-button-icon"></i>
        <span>شراء المنتج الآن</span>
    </a>
</div>