---
// Enhanced TroyBuyNowButton component with advanced animations
// Optional props for button variations
import { FunnelTroyComponents } from "../../../../../../lib/constants/themes";
import LucideIcon from "../../../../../Shared/LucideIcon.astro";
import "./TroyBuyNowButton.css";
---

<div>
  <a
    class="troy-buy-now-button"
    href="#troy-product-details"
  >
    <div class="troy-buy-now-icon-wrapper">
      <div class="troy-buy-now-icon-container">
         <LucideIcon name="ShoppingCart" width="32" height="32" class="troy-buy-now-button-icon" />

      </div>
    </div>
    <span class="troy-buy-now-text" data-translate="CTA.button">Buy Now</span>
  </a>
</div>