/* === nasa Product Image Section === */

/* Product Cards */
.nasa-image-text-overlay-card {
    border-radius: var(--nasa-section-radius);
    background-color: var(--nasa-color-surface-container);
}

.nasa-image-text-overlay-title {
    color: var(--nasa-color-on-primary);
}

.nasa-image-text-overlay-subtitle {
    color: var(--nasa-color-surface);
}