---
import type { BlockData } from "../../../../../lib/api/types";

const data: BlockData = Astro.props.data;

let totalSeconds = 0;

if(data.hours != null && data.minutes != null && data.seconds != null)
{
  totalSeconds =
  (parseInt(data.hours?.toString() || '0') || 0) * 3600 +
  (parseInt(data.minutes?.toString() || '0' ) || 0) * 60 +
  (parseInt(data.seconds.toString() || '0' ) || 0);
}
---

<!-- Elegant Countdown Timer -->
<section class="text-black py-6">
  <div class="px-6 text-center">
    <h2 class="text-3xl font-bold">
      ينتهي العرض خلال:
    </h2>
    <div
      class="my-7 flex justify-center gap-4 sm:gap-8 items-center"
      id="countdown"
      data-time={totalSeconds}
    >
      <div
        class="bg-cream text-burgundy rounded-2xl px-6 py-5 min-w-[80px] border-2 border-gold shadow-xl transition duration-300"
      >
        <div class="text-4xl font-extrabold" id="hours">--</div>
        <div class="text-sm font-serif">ساعة</div>
      </div>
      <div
        class="bg-cream text-burgundy rounded-2xl px-6 py-5 min-w-[80px] border-2 border-gold shadow-xl transition duration-300"
      >
        <div class="text-4xl font-extrabold" id="minutes">--</div>
        <div class="text-sm font-serif">دقيقة</div>
      </div>
      <div
        class="bg-cream text-burgundy rounded-2xl px-6 py-5 min-w-[80px] border-2 border-gold shadow-xl transition duration-300"
      >
        <div class="text-4xl font-extrabold" id="seconds">--</div>
        <div class="text-sm font-serif">ثانية</div>
      </div>
    </div>
  </div>
</section>

<script>
  import { initCountdown } from "./ClassicThemeCountDown";
  document.addEventListener('DOMContentLoaded', initCountdown);
</script>