---
import "./ClassicCupon.css";
import type { BlockData, Visitor } from "../../../../../lib/api/types";
import { FunnelClassicComponents } from "../../../../../lib/constants/themes";

const data: BlockData = Astro.props.data;
const couponName : string | undefined = data.items?.[0].label;
---

 <section
  id={FunnelClassicComponents.ClassicCoupon}
  class="classic-section w-full"
>
<div class="flex-col gap-2 flex  md:flex-row md:justify-between items-center w-full ">
  <!-- Section Header -->
  <div class="classic-section-header md:w-1/2">
    <i class={data.icon}></i>
    <h5>{data.title}</h5>
    </div>
    <!-- Coupon Container -->
    <div class="flex justify-start md:justify-end items-center gap-3 md:w-1/2">
      <div
        class="classic-coupon-card px-4 py-2 rounded-lg border-2 border-dashed text-center"
      >
        <span class="classic-coupon-code text-lg font-semibold tracking-wide">
          {couponName}
        </span>
      </div>
      <button
        class="classic-coupon-copy px-4 py-2 flex items-center gap-2  rounded text-sm font-medium transition-all duration-200"
        onclick="copyCoupon()"
        id="copyBtn"
      >
        <i class="fa-solid fa-copy text-lg"></i>
        <span data-translate="coupon.copy"></span>
      </button>
    </div>
  </div>
</section>

<script>
  import "./ClassicCupon";
</script>
