---
import "./TroyFakeVisitors.css";
import type { BlockData, Item } from '../../../../../lib/api/types';
import { FunnelTroyComponents } from "../../../../../lib/constants/themes";

const data: BlockData = Astro.props.data;
const visitors: Item[] = data.items ?? [];
---

<troy-visitors-animation 
  class="w-full flex justify-start items-start"
  data-troy-visitors={JSON.stringify(visitors)}
  data-troy-display-time="3000"
  data-troy-flash-duration="800"
>
  <section id={FunnelTroyComponents.TroyVisitors}>
    <div class="troy-visitors-section flex justify-start items-center gap-4">
      <!-- Single visitor display area -->
      <div class="troy-visitor-display">
        <div class="troy-visitor-image w-8 h-8 rounded-full opacity-0">
          <img class="w-full rounded-full" src="" alt="Visitor" id="troy-visitor-img"/>
        </div>
        <p class="troy-visitor-description opacity-0" id="troy-visitor-desc"></p>
      </div>
    </div>
  </section>
</troy-visitors-animation>


<script>
  import "./TroyFakeVisitors";
</script>