---
// Enhanced ArabicTouchBuyNowButton component with advanced animations
// Optional props for button variations
import { FunnelArabicTouchComponents } from "../../../../../../lib/constants/themes";
import LucideIcon from "../../../../../Shared/LucideIcon.astro";
import "./ArabicTouchBuyNowButton.css";
---

<div>
  <a
    class="arabictouch-buy-now-button"
    href="#arabictouch-product-details"
  >
    <div class="arabictouch-buy-now-icon-wrapper">
      <div class="arabictouch-buy-now-icon-container">
         <LucideIcon name="ShoppingCart" width="32" height="32" class="arabictouch-buy-now-button-icon" />

      </div>
    </div>
    <span class="arabictouch-buy-now-text" data-translate="CTA.button">Buy Now</span>
  </a>
</div>