---
// Enhanced ElegantBuyNowButton component with advanced animations
// Optional props for button variations
import { FunnelElegantComponents } from "../../../../../../lib/constants/themes";
import LucideIcon from "../../../../../Shared/LucideIcon.astro";
import "./ElegantBuyNowButton.css";
---

<div>
  <a
    class="elegant-buy-now-button"
    href="#elegant-product-details"
  >
    <div class="elegant-buy-now-icon-wrapper">
      <div class="elegant-buy-now-icon-container">
         <LucideIcon name="ShoppingCart" width="32" height="32" class="elegant-buy-now-button-icon" />

      </div>
    </div>
    <span class="elegant-buy-now-text" data-translate="CTA.button">Buy Now</span>
  </a>
</div>