---
import "./ClassicThemeRates.css";
import type { BlockData } from '../../../../../lib/api/types';
import { getTranslation } from '../../../../../lib/utils/i18n/translations';
import { FunnelClassicComponents } from "../../../../../lib/constants/themes";

const ratingData: BlockData = Astro.props.ratingData;

---
<div id={FunnelClassicComponents.ClassicRates} class="classic-rates">
  <div class="classic-rating-display">
    <span>{ratingData.rate}</span>
    <i class="fa-solid fa-star classic-rating-star"></i>
  </div>
</div>
