---
import "./TroySubmitOrderButton.css";
import { type Language } from "../../../../../../lib/utils/i18n/translations";

const currentLang: Language = (Astro.cookies.get("lang")?.value ||
  "en") as Language;

const isArabic = currentLang === "ar";
---

<div>
  <button
    type="submit"
    class="troy-form-submit"
    data-translate="form.submit"
  >
  </button>
</div>
