---
// Enhanced NeonBuyNowButton component with advanced animations
// Optional props for button variations
import { FunnelNeonComponents } from "../../../../../../lib/constants/themes";
import LucideIcon from "../../../../../Shared/LucideIcon.astro";
import "./NeonBuyNowButton.css";
---

<div>
  <a
    class="neon-buy-now-button"
    href="#neon-product-details"
  >
    <div class="neon-buy-now-icon-wrapper">
      <div class="neon-buy-now-icon-container">
         <LucideIcon name="ShoppingCart" width="32" height="32" class="neon-buy-now-button-icon" />

      </div>
    </div>
    <span class="neon-buy-now-text" data-translate="CTA.button">Buy Now</span>
  </a>
</div>