---
import "./ClassicThemeProductFunnel.css";
import type { BlockData, OptionOption, Product } from "../../../../../lib/api/types";

const data: BlockData[] = Astro.props.data;
const product : Product = Astro.props.product;

const initialOffer = data[0];

import { getTranslation } from "../../../../../lib/utils/i18n/translations";
import { FunnelClassicComponents } from "../../../../../lib/constants/themes";
import ClassicProductCosts from "../UI/ClassicProductCosts/classicProductCosts.astro";
import ClassicBundleOptions from "../UI/ClassicBundleOptions/ClassicBundleOptions.astro";

// Component configuration
const autoUpdate = Astro.props.autoUpdate ?? true;
const showDiscountWhenZero = Astro.props.showDiscountWhenZero ?? false;
const currency = Astro.props.currency ?? getTranslation('productFunnel.currency');
---

<div id={FunnelClassicComponents.ClassicProductFunnel} class="w-full flex flex-col gap-2">
  <ClassicBundleOptions data={data} product={product} />
  <ClassicProductCosts hasBundles="true" />
</div>

<script>
  import { initProductFunnel } from "./ClassicThemeProductFunnel";
  initProductFunnel();
</script>