---
import "./RetroFakeVisitors.css";
import type { BlockData, Item } from '../../../../../lib/api/types';
import { FunnelRetroComponents } from "../../../../../lib/constants/themes";

const data: BlockData = Astro.props.data;
const visitors: Item[] = data.items ?? [];
---

<retro-visitors-animation 
  class="w-full flex justify-start items-start"
  data-retro-visitors={JSON.stringify(visitors)}
  data-retro-display-time="3000"
  data-retro-flash-duration="800"
>
  <section id={FunnelRetroComponents.RetroVisitors}>
    <div class="retro-visitors-section flex justify-start items-center gap-4">
      <!-- Single visitor display area -->
      <div class="retro-visitor-display">
        <div class="retro-visitor-image w-8 h-8 rounded-full opacity-0">
          <img class="w-full rounded-full" src="" alt="Visitor" id="retro-visitor-img"/>
        </div>
        <p class="retro-visitor-description opacity-0" id="retro-visitor-desc"></p>
      </div>
    </div>
  </section>
</retro-visitors-animation>


<script>
  import "./RetroFakeVisitors";
</script>