---
import NasaModalPurchaseInfo from "../../NasaModalPurchaseInfo/NasaModalPurchaseInfo.astro";
import "./nasaSubmitOrderButton.css";
---

<div>
  <button
    type="button"
    id="SubmitOrderButton"
    class="nasa-form-submit"
    data-translate="form.submit"
  >
  </button>
</div>

<!-- Include the modal component -->
<NasaModalPurchaseInfo />

<script>
  import "./NasaSubmitOrderButton";
</script>
