---
import "./nasaSubmitOrderButton.css";
import NasaModalPurchaseInfo from "../../NasaModalPurchaseInfo/NasaModalPurchaseInfo.astro";

// Component configuration
const validateOnSubmit =  true;
const showValidationMessages =  true;
const autoFocusFirstError =  true;
const enableColorSizeValidation =  true;
---

<nasa-submit-order 
  data-submit-validate-on-submit={validateOnSubmit}
  data-submit-show-validation-messages={showValidationMessages}
  data-submit-auto-focus-first-error={autoFocusFirstError}
  data-submit-enable-color-size-validation={enableColorSizeValidation}
>
  <div>
    <button
      type="button"
      data-submit-order-button
      class="nasa-form-submit"
      data-translate="form.submit"
    >
    </button>
  </div>
</nasa-submit-order>

<!-- Include the modal component -->
<NasaModalPurchaseInfo />

<script>
  import "./NasaSubmitOrderButton";
</script>