/* === Total Section Styles === */

.neon-product-costs-total-section {
  background-color: var(--neon-color-primary-light);
  border-color: var(--neon-color-primary);
}

.neon-product-costs-total-label,
.neon-product-costs-total-value {
  color: var(--neon-color-on-primary);
}