---
import "./PopFakeVisitors.css";
import type { BlockData, Item } from '../../../../../lib/api/types';
import { FunnelPopComponents } from "../../../../../lib/constants/themes";

const data: BlockData = Astro.props.data;
const visitors: Item[] = data.items ?? [];
---

<pop-visitors-animation 
  class="w-full flex justify-start items-start"
  data-pop-visitors={JSON.stringify(visitors)}
  data-pop-display-time="3000"
  data-pop-flash-duration="800"
>
  <section id={FunnelPopComponents.PopVisitors}>
    <div class="pop-visitors-section flex justify-start items-center gap-4">
      <!-- Single visitor display area -->
      <div class="pop-visitor-display">
        <div class="pop-visitor-image w-8 h-8 rounded-full opacity-0">
          <img class="w-full rounded-full" src="" alt="Visitor" id="pop-visitor-img"/>
        </div>
        <p class="pop-visitor-description opacity-0" id="pop-visitor-desc"></p>
      </div>
    </div>
  </section>
</pop-visitors-animation>


<script>
  import "./PopFakeVisitors";
</script>