---
import "./BoldFakeVisitors.css";
import type { BlockData, Item } from '../../../../../lib/api/types';
import { FunnelBoldComponents } from "../../../../../lib/constants/themes";

const data: BlockData = Astro.props.data;
const visitors: Item[] = data.items ?? [];
---

<bold-visitors-animation 
  class="w-full flex justify-start items-start"
  data-bold-visitors={JSON.stringify(visitors)}
  data-bold-display-time="3000"
  data-bold-flash-duration="800"
>
  <section id={FunnelBoldComponents.BoldVisitors}>
    <div class="bold-visitors-section flex justify-start items-center gap-4">
      <!-- Single visitor display area -->
      <div class="bold-visitor-display">
        <div class="bold-visitor-image w-8 h-8 rounded-full opacity-0">
          <img class="w-full rounded-full" src="" alt="Visitor" id="bold-visitor-img"/>
        </div>
        <p class="bold-visitor-description opacity-0" id="bold-visitor-desc"></p>
      </div>
    </div>
  </section>
</bold-visitors-animation>


<script>
  import "./BoldFakeVisitors";
</script>