---
import type { BlockData, Product } from "../../../../../lib/api/types";

const data: BlockData[] = Astro.props.data;
const product : Product = Astro.props.product;

import { FunnelProComponents } from "../../../../../lib/constants/themes";
import ProProductCosts from "../UI/ProProductCosts/proProductCosts.astro";
import ProBundleOptions from "../UI/ProBundleOptions/ProBundleOptions.astro";

---

<div id={FunnelProComponents.ProProductFunnel} class="w-full flex flex-col gap-2">
  <ProBundleOptions data={data} product={product} />
  <ProProductCosts hasBundles="true" />
</div>