---
import "./MinimalFakeVisitors.css";
import type { BlockData, Item } from '../../../../../lib/api/types';
import { FunnelMinimalComponents } from "../../../../../lib/constants/themes";

const data: BlockData = Astro.props.data;
const visitors: Item[] = data.items ?? [];
---

<minimal-visitors-animation 
  class="w-full flex justify-start items-start"
  data-minimal-visitors={JSON.stringify(visitors)}
  data-minimal-display-time="3000"
  data-minimal-flash-duration="800"
>
  <section id={FunnelMinimalComponents.MinimalVisitors}>
    <div class="minimal-visitors-section flex justify-start items-center gap-4">
      <!-- Single visitor display area -->
      <div class="minimal-visitor-display">
        <div class="minimal-visitor-image w-8 h-8 rounded-full opacity-0">
          <img class="w-full rounded-full" src="" alt="Visitor" id="minimal-visitor-img"/>
        </div>
        <p class="minimal-visitor-description opacity-0" id="minimal-visitor-desc"></p>
      </div>
    </div>
  </section>
</minimal-visitors-animation>


<script>
  import "./MinimalFakeVisitors";
</script>