---
import type { FunnelRes } from '../Interfaces/Products';
import Layout from '../layouts/Layout.astro';
import { getFunnelPage } from '../Services/FunnelPageService';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
const funnelPage : FunnelRes = await getFunnelPage();
console.log(funnelPage);
---

<Layout>
    <main>
        <h1 style="padding: 30px;">Funnel Page</h1>
    </main>
</Layout>