---
import type { BlockData } from "../../../../Interfaces/Products";
import "../../../../styles/global.css";
interface Props {
  data?: BlockData;
}

const { data } = Astro.props;
---

<div class="p-4 bg-amber-400">Classic Theme Header</div>