---
// Enhanced UrbanBuyNowButton component with advanced animations
// Optional props for button variations
import { FunnelUrbanComponents } from "../../../../../../lib/constants/themes";
import LucideIcon from "../../../../../Shared/LucideIcon.astro";
import "./UrbanBuyNowButton.css";
---

<div>
  <a
    class="urban-buy-now-button"
    href="#urban-product-details"
  >
    <div class="urban-buy-now-icon-wrapper">
      <div class="urban-buy-now-icon-container">
         <LucideIcon name="ShoppingCart" width="32" height="32" class="urban-buy-now-button-icon" />

      </div>
    </div>
    <span class="urban-buy-now-text" data-translate="CTA.button">Buy Now</span>
  </a>
</div>