/* === Container Header Enhanced Styles === */

.neon-bundle-options-header-text {
    color: var(--neon-color-on-surface);
}

.neon-bundle-options-header-index {
    background-color: var(--neon-color-primary);
    color: var(--neon-color-on-primary);
}