---
// This component renders the footer section for the Classic theme.
// It displays information about the store and copyright details.
// Props:
// - data: An object of type BlockData, containing company name and year for the copyright notice.
import "./ClassicThemeFooter.css";
import type { BlockData } from "../../../../../lib/api/types";
// Defines the expected props for the component.

// Retrieves the data prop passed to the component.
const data: BlockData = Astro.props.data;
---
<footer class="classic-footer">
  <div class="classic-footer-content">
    <!-- Title -->
    <h5 class="classic-footer-title">{data.company_name}</h5>
    
    <!-- Links -->
    <div class="classic-footer-links">
      {data.policies.map((policy : string) => (
        <a href="#" class="classic-footer-link">{policy}</a>
      ))}
    </div>
    
    <!-- Social Icons -->
    <div class="classic-footer-social">
      {data.social_icons.map((iconClass : string, index : number) => (
        <a href="#" class="classic-footer-social-link" aria-label={`social-${index}`}>
          <i class={iconClass}></i>
        </a>
      ))}
    </div>
  </div>
</footer>