.minimal-form-submit {
    width: 100%;
    background-color: var(--minimal-color-primary);
    color: var(--minimal-color-on-primary);
    padding: 1rem;
    border-radius: var(--minimal-section-radius);
}