/* === Classic Product Image Section === */

/* Product Cards */
.classic-image-text-overlay-card {
    border-radius: var(--classic-section-radius);
    background-color: var(--classic-color-surface-container);
}

.classic-image-text-overlay-title {
    color: var(--classic-color-on-primary);
}

.classic-image-text-overlay-subtitle {
    color: var(--classic-color-surface);
}