.arabictouch-form-submit {
    width: 100%;
    background-color: var(--arabictouch-color-primary);
    color: var(--arabictouch-color-on-primary);
    padding: 1rem;
    border-radius: var(--arabictouch-section-radius);
}