---
import "./ProFakeVisitors.css";
import type { BlockData, Item } from '../../../../../lib/api/types';
import { FunnelProComponents } from "../../../../../lib/constants/themes";

const data: BlockData = Astro.props.data;
const visitors: Item[] = data.items ?? [];
---

<pro-visitors-animation 
  class="w-full flex justify-start items-start"
  data-pro-visitors={JSON.stringify(visitors)}
  data-pro-display-time="3000"
  data-pro-flash-duration="800"
>
  <section id={FunnelProComponents.ProVisitors}>
    <div class="pro-visitors-section flex justify-start items-center gap-4">
      <!-- Single visitor display area -->
      <div class="pro-visitor-display">
        <div class="pro-visitor-image w-8 h-8 rounded-full opacity-0">
          <img class="w-full rounded-full" src="" alt="Visitor" id="pro-visitor-img"/>
        </div>
        <p class="pro-visitor-description opacity-0" id="pro-visitor-desc"></p>
      </div>
    </div>
  </section>
</pro-visitors-animation>


<script>
  import "./ProFakeVisitors";
</script>