---
// Enhanced ClassicBuyNowButton component with advanced animations
// Optional props for button variations
import { FunnelClassicComponents } from "../../../../../../lib/constants/themes";
import LucideIcon from "../../../../../Shared/LucideIcon.astro";
import "./ClassicBuyNowButton.css";
---

<div>
  <a
    class="classic-buy-now-button"
    href="#classic-product-details"
  >
    <div class="classic-buy-now-icon-wrapper">
      <div class="classic-buy-now-icon-container">
         <LucideIcon name="ShoppingCart" width="32" height="32" class="classic-buy-now-button-icon" />

      </div>
    </div>
    <span class="classic-buy-now-text" data-translate="CTA.button">Buy Now</span>
  </a>
</div>