---
import "./ClassicFakeVisitors.css";
import type { BlockData, Item } from '../../../../../lib/api/types';
import { FunnelClassicComponents } from "../../../../../lib/constants/themes";

const data: BlockData = Astro.props.data;
const visitors: Item[] = data.items ?? [];
---

<classic-visitors-animation 
  class="w-full flex justify-start items-start"
  data-classic-visitors={JSON.stringify(visitors)}
  data-classic-display-time="3000"
  data-classic-flash-duration="800"
>
  <section id={FunnelClassicComponents.ClassicVisitors}>
    <div class="classic-visitors-section flex justify-start items-center gap-4">
      <!-- Single visitor display area -->
      <div class="classic-visitor-display">
        <div class="classic-visitor-image w-8 h-8 rounded-full opacity-0">
          <img class="w-full rounded-full" src="" alt="Visitor" id="classic-visitor-img"/>
        </div>
        <p class="classic-visitor-description opacity-0" id="classic-visitor-desc"></p>
      </div>
    </div>
  </section>
</classic-visitors-animation>


<script>
  import "./ClassicFakeVisitors";
</script>