---
import "./ZenDeliveryFeatures.css"
import type { BlockData, Features, Item } from "../../../../../lib/api/types";
import type { Language } from "../../../../../lib/utils/i18n/translations";
import { FunnelZenComponents } from "../../../../../lib/constants/themes";
import LucideIcon from "../../../../Shared/LucideIcon.astro";

// Get initial language from cookie during SSR
const currentLang: Language = (Astro.cookies.get("lang")?.value || "en") as Language;
const isArabic = currentLang === "ar";

const data: BlockData = Astro.props.data;
const deliveryFeatures: Item[] = data.items ?? [];
---

<section id={FunnelZenComponents.ZenDeliveryFeatures} class="zen-section">
  <!-- Header -->
  <div class="zen-section-header">
    {data.icon && <LucideIcon name={data.icon as any} width="48" height="48"  />} 
     <h5>{isArabic ? data.title_ar : data.title_en}</h5>
  </div>
  <!-- Delivery Features Grid -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
    {
      deliveryFeatures.map((feature) => (
        <div class="flex flex-col justify-center items-center gap-2 p-4">
          <!-- Feature Icon -->
          <div>
            {data.icon && <LucideIcon name={data.icon as any} width="43" height="43" class="text-2xl zen-delivery-feature-icon" />} 
          </div>
          <!-- Feature Content -->
          <h3 class="zen-delivery-feature-title font-semibold text-lg leading-tight">
            {feature.label}
          </h3>
          <p class="zen-delivery-feature-subtitle text-sm leading-relaxed">
            {feature.content}
          </p>
        </div>
      ))
    }
  </div>
</section> 
