/* === Classic Theme Reusable Classes === */
body {
    background-color: var(--classic-color-surface);
    color: var(--classic-color-on-surface);
}

.classic-section {
    background-color: var(--classic-color-surface);
    padding: var(--classic-section-padding);
    border-radius: var(--classic-section-radius);
    box-shadow: var(--classic-section-shadow);
}

.classic-section-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--classic-header-gap);
    margin-bottom: var(--classic-header-margin-bottom);
    font-size: var(--classic-header-size);
    font-weight: var(--classic-header-weight);
    color: var(--classic-color-on-surface);
}
.classic-middle-title {
    text-align: center;
    font-size: var(--classic-header-center-size);
    font-weight: var( --classic-header-center-wight);
    color: var(--classic-color-on-surface);
    margin-bottom: var(--classic-header-center-margin-bottom);
}