---
import type { BlockData, Product } from "../../../../../lib/api/types";

const data: BlockData[] = Astro.props.data;
const product : Product = Astro.props.product;

import { FunnelMinimalComponents } from "../../../../../lib/constants/themes";
import MinimalProductCosts from "../UI/MinimalProductCosts/minimalProductCosts.astro";
import MinimalBundleOptions from "../UI/MinimalBundleOptions/MinimalBundleOptions.astro";

---

<div id={FunnelMinimalComponents.MinimalProductFunnel} class="w-full flex flex-col gap-2">
  <MinimalBundleOptions data={data} product={product} />
  <MinimalProductCosts hasBundles="true" />
</div>