.classic-theme-today-order-count {
  background-color: var(--classic-color-primary-light);
  color: var(--classic-color-on-primary);
  box-shadow: var(--classic-section-shadow);
  border-radius: var(--classic-section-radius);
}