---
import type { BlockData } from '../../../../../lib/api/types';


interface Props {
  data?: BlockData;
}

const { data } = Astro.props;
---

<!-- طلبات اليوم -->
<div class="my-10 bg-gold border-2 border-burgundy rounded-2xl p-6 shadow-md">
  <div class="flex items-center justify-center space-x-3 rtl:space-x-reverse">
    <span class="text-burgundy font-bold font-serif text-xl">طلبات اليوم:</span>
    <span id="todayOrders" today-orders={data?.count} class="text-burgundy font-bold text-3xl  px-4 py-2 rounded-lg shadow-inner">
    0
    </span>
    <span class="text-burgundy font-bold font-serif text-xl">طلب</span>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const counterElement = document.getElementById("todayOrders");
    const targetCount = parseInt(counterElement.getAttribute("today-orders")) || 0;

    let current = 0;
    const duration = 1000; // المدة الكلية للعد (بالمللي ثانية)
    const stepTime = Math.max(Math.floor(duration / targetCount), 20); // زمن كل خطوة

    const counter = setInterval(() => {
      current++;
      counterElement.textContent = current;
      if (current >= targetCount) {
        clearInterval(counter);
      }
    }, stepTime);
  });
</script>
