---
// This component displays the number of orders placed "today" for the Classic theme.
// It features an animated counter that counts up to the provided order number.
// Props:
// - data: An object of type BlockData, expected to contain `count` (the number of orders today).
import "./ClassicThemeTodayOrders.css";
import type { BlockData, Image } from "../../../../../lib/api/types";
const data: BlockData = Astro.props.data;
---

<section id="classic-today-orders" class="classic-section">
  <div class="classic-todayOrders-container">
    <h5 class="classic-todayOrders-title" data-translate="todayOrders.title">
    </h5>
    <h5>{data.count}</h5>
    </div>
  </div>
</section>


<script>
 "./ClassicThemeTodayOrders.ts"
</script>
