---
import type { BlockData, Product } from "../../../../../lib/api/types";

const data: BlockData[] = Astro.props.data;
const product : Product = Astro.props.product;

import { FunnelClassicComponents } from "../../../../../lib/constants/themes";
import ClassicBundleOptions from "../ClassicThemeProductInteraction/ClassicBundleOptions/ClassicBundleOptions.astro";
import ClassicProductCosts from "../ClassicThemeProductInteraction/ClassicProductCosts/classicProductCosts.astro";


---

<div id={FunnelClassicComponents.ClassicProductFunnel} class="w-full flex flex-col gap-2">
  <ClassicBundleOptions data={data} product={product} />
  <ClassicProductCosts hasBundles="true" />
</div>