/* === Classic Product Image Section === */

/* Product Cards */
.classic-image-text-beside {
    background-color: var(--classic-color-surface-container-high);
    border-radius: var(--classic-section-radius);
  }

.classic-image-text-beside-title {
    font-size: 1.5rem;   /* text-2xl */
    font-weight: 700;    /* font-bold */
    color: var(--classic-color-on-surface);
}

.classic-image-text-beside-description{
    color: var(--classic-color-on-surface-variant);
    font-size: 0.875rem; /* text-sm */
}