---
import "./NasaFakeVisitors.css";
import type { BlockData, Item } from '../../../../../lib/api/types';
import { FunnelNasaComponents } from "../../../../../lib/constants/themes";

const data: BlockData = Astro.props.data;
const visitors: Item[] = data.items ?? [];
---

<nasa-visitors-animation 
  class="w-full flex justify-start items-start"
  data-nasa-visitors={JSON.stringify(visitors)}
  data-nasa-display-time="3000"
  data-nasa-flash-duration="800"
>
  <section id={FunnelNasaComponents.NasaVisitors}>
    <div class="nasa-visitors-section flex justify-start items-center gap-4">
      <!-- Single visitor display area -->
      <div class="nasa-visitor-display">
        <div class="nasa-visitor-image w-8 h-8 rounded-full opacity-0">
          <img class="w-full rounded-full" src="" alt="Visitor" id="nasa-visitor-img"/>
        </div>
        <p class="nasa-visitor-description opacity-0" id="nasa-visitor-desc"></p>
      </div>
    </div>
  </section>
</nasa-visitors-animation>


<script>
  import "./NasaFakeVisitors";
</script>