---
// Enhanced nasaBuyNowButton component with proper theming
// Optional props for button variations
import "./nasaBuyNowButton.css";
---

<div>
    <a
        class="nasa-buy-now-button"
        href="#nasa-quantity-selection"
    >
        <i class="fa-solid fa-cart-shopping nasa-buy-now-button-icon"></i>
        <span>شراء المنتج الآن</span>
    </a>
</div>